// Primary
$blue: #3097b9;

// Secondary
$green: #40bf89;
$orange: #f3a64b;
$red: #fd5a4b;
$yellow: #f8dc5a;
$yellow-dark: #c9b149;
$yellow-green: #d9e252;
$link: #56bfb5;

// Neutral
$dark: #37474f;
$medium: #76838f;
$light: #bbc1c7;
